{%extends 'userPanel/dash.html'%}
      {%block mainblock%} 
    <div class="col s12 m12 l9">
<main>
  <section>
    <div class="section">
      <fieldset>
        <legend><h5>Dashboard:</h5></legend>
        <br>
  
   
     <form action="/utils/request.php"  method="POST">
     
        <div class="input-field col s6">
           <i class="material-icons prefix">class</i>
          <input id="subject" name="subject" required  type="text" class="validate">
          <label for="subject">Subject</label>
        </div>
          <div data-position="top" data-delay="50" class=" tooltipped input-field col s6" data-tooltip="Enter valid category">
          <i class="material-icons prefix">group_work</i>
          <select name="category" required>
          <option  value="" disabled selected>Choose your option</option>
          <option value="ELECTRICIAN">ELECTRICIAN</option>
          <option value="PLUMBER">PLUMBER</option>
          <option value="RESIDENT">RESIDENT</option>
           <option value="OTHERS">OTHERS</option>
        </select>
         <label>Select your category</label>
          </div>
  
        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
        <input id="dateA"required  name="cdate" type="text" class="datepicker">
        <label for="dateA">Date</label>
        </div>
        
        <div class="input-field col s6">
          <i class="material-icons prefix">watch</i>
            <input required id="timeB" name="ctime" type="text"  class="timepicker">
          <label for="timeB">Time</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea name="cDescription" required id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Write your Complaint</label>
  </div>
  <button onclick="M.toast({html: 'New Complaint'})" class="btn waves-effect waves-light blue darken-2 right" type="submit" name="addComplaint">Submit
    <i class="material-icons right">send</i>
  </button>
      </form>    
  </fieldset>
    </div>
  </section>
<main>
</div>


          {%endblock%}