{%extends 'adminPanel/dash.html'%}
   
   

      {%block mainblock%} 
    <div class="col s12 m12 l9">
<main>
 


   <div class="section">
      <fieldset style="border-radius: 10px;">
        <legend><h5><b>ALL VILLAGE</b></h5></legend>
        <br>
        <div class="row">
            {% for d in villages %}
              <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="/images/data.jpg">
                    <span  class="card-title"><b>{{d.name}}</b></span>
                  </div>
                  <div class="card-content">
                    <p>Hi, This section contains all the data of  {{ d.name }} district you can see all the districts and villages ans there corosponding data.
                    to see all the data click the link given blew .</p>
                  </div>
                  <div class="card-action">
                    <a class="btn waves-effect waves-light"  href="/adminPanel/managedata/villagedata?id={{d.id}}">View Data <i class="material-icons right">send</i></a>
                  </div>
                </div>
              </div>
      {% endfor %}
     
  </div>
      </fieldset>
    </div>
  </section>
  
<main>
</div>



          {%endblock%}

